@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import "../../App.scss";


.main-video {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

    @include tablet {
        padding: 5%;
    }

    @include mobile {
        padding: 0%;
    }

    .title-main {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        color: #6c899b;
        font-size: 50px;

        @include tablet {
            font-size: 60px;
        }

        @include mobile {
            font-size: 40px;
            margin-top: 20%;
        }
    }

    .video-container {
        display: flex;
        background-color: #6c899b;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }

        .video {
            flex: 1;

            iframe {
                width: 100%;

            }
        }

        .pop-message {
            height: 320px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            @include tablet{
                height: 350px;
            }

            .pop {
                background-color: white;
                color: #6c899b;
                border: none;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                font-size: 15px;
                box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.74);
                cursor: pointer;
                font-weight: bolder;

                @include tablet {
                    width: 110px;
                    height: 110px;
                    font-size: 18px;
                }

                @include mobile {
                    width: 90px;
                    height: 90px;
                    font-size: 15px;
                }
            }

            .popover {
                position: absolute;
                top: -5%;
                width: 300px;
                background-color: white;
                font-size: 16px;
                font-weight: bold;
                font-family: "Lora", serif;
                padding: 15%;
                color: #6c899b;
                border-radius: 10px;
                box-shadow: 0px 11px 18px 0px #000000;

                @include tablet{
                    font-size: 20px;
                    width: 400px;
                }
                @include mobile{
                    font-size: 16px;
                    width: 300px;
                }
            }
        }

        .maintext-video {
            flex: 1;
            margin: auto;

            h2 {
                font-family: "Playfair Display", serif;
                font-optical-sizing: auto;
                font-weight: bold;
                font-style: normal;
                color: white;

                @include tablet{
                    margin-top: 5%;
                }
                @include mobile{
                    margin-top: 10%;
                }
            }

            .text-video {
                flex: 1;
                font-family: "Lora", serif;
                margin: auto;
                text-align: justify;
                padding: 6%;
                color: #6c899b;
                color: white;
                font-weight: bolder;

                @include tablet{
                    padding: 3%;
                    font-size: 20px;
                }

                @include mobile{
                    padding: 6%;
                    font-size: 15px;
                }
            }
        }

    }

}