@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import "../../App.scss"; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f2f241;

    @include mobile {
        .a-container {
            display: none;
        }
    }


    .logo-container {
        position: absolute;
        left: 1%;

        @include tablet {
            left: 0%;
            position: relative;
        }

        @include mobile {
            width: 100%;
        }

        .img-logo {
            width: 60%;
        }
    }

    .nav-a {
        text-decoration: none;
        margin: 0 10px;
        padding: 10px;
        font-size: 20px;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        color: #6c899b;

        &.contact {
            border-radius: 10px;
            box-shadow: 5px 5px 10px #999999, -5px -5px 10px #ffffff;
        }
    }

    .menu {
        width: 50px;
        height: 50px;
        color: #6c899b;
        cursor: pointer;
        transition: all ease-in-out 0.2;

        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            display: block;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%) !important;
        }
    }

    .close-menu {
        width: 50px;
        height: 50px;
        color: #6c899b;
        cursor: pointer;
        transform: rotate(45deg);

        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            display: block;
            position: absolute;
            top: 100PX;
            left: 50%;
            transform: translateX(-50%) !important;
        }
    }

    .menu-content {
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: #6c899b;
        border-radius: 10%;
        top: 150px;
        left: 50%;
        transform: translateX(-50%) !important;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        -webkit-box-shadow: 12px 17px 28px 12px #000000;
        box-shadow: 12px 17px 28px 12px #000000;

        span {
            font-family: "Playfair Display", serif;
            list-style-type: none;
            text-align: center;
            font-size: 25px;
            cursor: pointer;
            font-weight: bolder;
            color: white;
        }
    }


}